.swiper-container {
    max-width: 100%;

    .slider-wrapper {
        overflow: hidden;
        margin: 0 70px 55px;
        
        .card-list {
            .card-item {
                height: auto;
                color: #aaa;
                user-select: none;
                padding: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                backdrop-filter: blur(30px);
                background: rgba(255, 255, 255, 0.2);
                border: 1px solid rgba(255, 255, 255, 0.5);

                .user-image {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin-bottom: 40px;
                    border: 3px solid #fff;
                    padding: 4px;
                }

                .user-profession {
                    font-size: 1.15rem;
                    color: #e3e3e3;
                    font-weight: 500;
                    margin: 14px 0 40px;
                }

                .message-button {
                    font-size: 1.25rem;
                    padding: 10px 35px;
                    color: #030728;
                    border-radius: 6px;
                    font-weight: 500;
                    cursor: pointer;
                    background: #fff;
                    border: 1px solid transparent;
                    transition: 0.2s ease;
                }

                .message-button:hover {
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid #fff;
                    color: #fff;
                }
            }
        }

        .swiper-pagination-bullet {
            background: #fff;
            height: 13px;
            width: 13px;
            opacity: 0.5;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }

        .swiper-slide-button {
            color: #fff;
            margin-top: -55px;
            transition: 0.2s ease;
        }

        .swiper-slide-button:hover {
            color: #4658ff;
        }
    }
}
  
@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;

        .swiper-slide-button {
            display: none;
        }
    }
}